{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<br>
<h1>My Blog</h1>
<br>
<main role="main">
    <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Welcome To My Blog</h1>
        <p>My Blog is a demo site that i building right now while I'm learning flask</p>        
        <p>I have passion to code and I enjoy this much more than other things, so I, Guy Levitzky have a 10100101 dream</p>>
    </div>
    </div>
</main>
{% endblock %}